doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 详细信息
    link(rel='stylesheet', type='text/css', href='/stylesheets/details.css')
    script(type='text/javascript', src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
    script(src='/javascripts/details.js', type='text/javascript')
  body
    #all
      #eye
      h1 用户信息
      #detail
        | 用户名：
        span#name.me #{name}
        br
        |             学号：
        span#number.me #{number}
        br
        |             电话：
        span#phone.me #{phone}
        br
        |             邮箱：
        span#email.me #{email}
      |         
      span#error #{error}
      |         
      input#logout(type='button', value='退出')